* {
    margin: 0;
    padding: 0;
  }

img {
    max-width: 200px;
}

@font-face {
    font-family: 'Open Sans Condensed', sans-serif;}

section {
    background-color: white;
    max-width: 80%;
    margin: auto;
}



h1, h2 {
    margin: 50px;
    background-color: gainsboro;
    text-align: center;
}

.grid-item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
    border-top: tomato 1px solid;
}



#grid-float .grid-item {
    float: left;
}

/*the NET_Ninja@https://www.youtube.com/watch?v=nE9lIRbIfI0*/
#grid-floats:after {
    content: "";
    display: block;
    clear: both;
}

/* Hint(s) from http://www.tagindex.net/css/list/float.html*/
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1rem;
}
    
li {
    float: left;
    width: 250px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    text-align: center;
    display: inline-block;
}

#grid-flex {
    display: flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 80px;
}

#grid-flex h2 {
    margin-top: 200px;
}

/* Hint(s) from  https://www.youtube.com/watch?v=j1AhSWFcZpg */
$mobile: 600px;
$tablets: 1024px;
$desktop: 1024px;

@media screen and (max-width: mobile) {
    
    #grid-floats .grid-item 
    {float: left;
        width: 100%;}

    #gird-flex .grid-item 
    {
        flex-direction: column;}
    
}



@media screen and (min-width: mobile) and (max-width: tablets) {

    #grid-floats .grid-item li:nth-child(1), .grid-item li:nth-child(2) {
        width: 50%;

    }

    .grid-item li:nth-child(n+3) {
        width: 30%;
    }
      
}

@media screen and (min-width: desktop) {

    
}
  
  

