* {
    margin: 0;
    padding: 0;
  }

img {
    max-width: 200px;
}

@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
}

html, body, header, main, section {
    margin: 0;
    padding: 0;
    width: 100%;
}

section {
    background-color: white;
    margin: auto;
}

h1, h2 {
    margin: 50px;
    background-color: gainsboro;
    text-align: center;
}

.grid-item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
    border-top: tomato 1px solid;
}

/**
 * mobile
 */
#grid-floats {
    width: 100%;
    display: block;
    margin: 0px 20px;
}
    
.grid-item {
    width: 100%;
    display: block;
}
    
/**
 * tablet
 */
@media screen and (min-width: 600px) {
    .grid-item {
        width: 30%;
        margin-right: 5%;
        float: left;
    }
    .grid-item:nth-child(1), .grid-item:nth-child(2) {
        width: 50%;
    }
}

/**
 * desktop
 */
@media screen and (min-width: 600px) {
    .grid-item {
        width: 21%;
        margin: 0 2%;
        float: left;
    }

    .grid-item:nth-child(1), .grid-item:nth-child(2) {
        width: 46%;        
    }
}



section:nth-child(2) {
    clear: both;
}


/* Hint(s) from http://www.tagindex.net/css/list/float.html*/
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}
    
#grid-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 80px;
}

#grid-flex h2 {
    margin-top: 200px;
}

#grid-flex li:first-child {
    width: calc(50% - 5px);
}


#grid-flex li:nth-child(n+2):nth-child(-n+11) {

    width: calc(25% - 5px);
    }
      
    
